*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  min-height: 100vh;
}

.go-top-btn {
  position: fixed;
  bottom: 50px;
  right: 10vw;
  z-index: 2000;
  outline: none;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  width: 50px;
  height: 40px;
  background-color: orangered;
  color: beige;
  cursor: pointer;
  align-items: center;
  font-weight: 500;
  font-size: 1.15em;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Blue */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
